<div class="container">
	{{updateScoreResponse.status.message}}
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-8">
			<form class="bot-search-form">
				<mat-form-field class="form-full-width"> <input
					matInput #message maxlength="256" class="bot-search-input"
					placeholder="Aks your Question here." name="serachValue"
					[(ngModel)]="searchValue"> <mat-icon matSuffix></mat-icon>
				<mat-hint align="end" class="bot-search-input">{{message.value.length}}
				/ 256</mat-hint> </mat-form-field>

				<button mat-raised-button color="primary"
					(click)="onGetServerSearch(searchValue)">Search</button>
			</form>
		</div>
		<div class="col-md-1"></div>

	</div>
	
	<div *ngIf="answers.length > 1">
		<mat-card style="margin-bottom: 10px;" *ngFor="let ans of pagedItems">
		<mat-card-content>
		<p *ngIf="ans.answer != null" style="white-space: pre-line">{{ans.answer}}</p>
		<span *ngIf="ans.allianzBotTestCenterData != null">
			<span >
				<p *ngIf="ans.allianzBotTestCenterData.defectId > 0" style="white-space: pre-line">Defect Id: {{ans.allianzBotTestCenterData.defectId}}</p>
				<p *ngIf="ans.allianzBotTestCenterData.team != null" style="white-space: pre-line">Team: {{ans.allianzBotTestCenterData.team}}</p>
				<p *ngIf="ans.allianzBotTestCenterData.testCaseId != null" style="white-space: pre-line">TestCaseId: {{ans.allianzBotTestCenterData.testCaseId}}</p>
				<p *ngIf="ans.allianzBotTestCenterData.defectIdStr != null" style="white-space: pre-line">Defect Id: {{ans.allianzBotTestCenterData.defectIdStr}}</p>
				<p *ngIf="ans.allianzBotTestCenterData.failedRunCount != null" style="white-space: pre-line">Failed Run Count: {{ans.allianzBotTestCenterData.failedRunCount}}</p>
				<p *ngIf="ans.allianzBotTestCenterData.failureCategory != null" style="white-space: pre-line">Failed Category: {{ans.allianzBotTestCenterData.failureCategory}}</p>
				<p *ngIf="ans.allianzBotTestCenterData.failedLog != null" style="white-space: pre-line">Failed Log: {{ans.allianzBotTestCenterData.failedLog}}</p>
				<p *ngIf="ans.allianzBotTestCenterData.errorCount != null" style="white-space: pre-line">{{ans.allianzBotTestCenterData.errorCount}} Build Fails because of this Error.</p>
			</span>
		</span>	
	</mat-card-content> <mat-card-actions>
		<button mat-button (click)="sendLike(ans, searchValue)">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
				viewBox="0 0 24 24">
               <path
					d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-1.91l-.01-.01L23 10z" />
              </svg>
			LIKE
		</button>
		<button mat-button (click)="sendDisLike(ans, searchValue)">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
				viewBox="0 0 24 24">
              <path
					d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v1.91l.01.01L1 14c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z" />
              </svg>
			DISLIKE
		</button>
		</mat-card-actions> </mat-card>
		<div class="row bold">
				<div class="col-md-3"></div>
				<div class="col-md-8">
					<!-- pager -->
					<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
							<li [ngClass]="{disabled:pager.currentPage === 1}">
								<a (click)="setPage(1)">First</a>
							</li>
							<li [ngClass]="{disabled:pager.currentPage === 1}">
								<a (click)="setPage(pager.currentPage - 1)">Previous</a>
							</li>
							<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
								<a (click)="setPage(page)">{{page}}</a>
							</li>
							<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
								<a (click)="setPage(pager.currentPage + 1)">Next</a>
							</li>
							<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
								<a (click)="setPage(pager.totalPages)">Last</a>
							</li>
						</ul>
				</div>
				<div class="col-md-3"></div>
		
	</div>
</div>

