<!-- Main Toolbar of an App -->    
<mat-toolbar color="accent">    
  <span class="demo-toolbar"></span>    
  <a  mat-button href="/register">Go To Registration</a>    
</mat-toolbar>    
  
<mat-card>    
  <!-- Title of an Card -->    
  <mat-card-title>    
      Allianz Bot Registration
  </mat-card-title>    
  <mat-card-content>    
    <form>
      <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8">
              <table >    
                  <tr>    
                    <td colspan="4">    
                      <mat-form-field class="demo-full-width">    
                        <input matInput placeholder="Email">    
                      </mat-form-field>    
                    </td>    
                  </tr>    
                  <tr>    
                    <td colspan="4">    
                      <mat-form-field class="demo-full-width">    
                        <input matInput type="password" placeholder="Password">    
                      </mat-form-field>    
                    </td>    
                  </tr>    
                  <tr>    
                    <td colspan="4" class="content-center">    
                      <button mat-raised-button color="accent">Submit</button>    
                      <button mat-raised-button color="accent">Clear</button>    
                    </td>    
                  </tr>    
                </table>    
          </div>
         
      </div>   
      
      </form>    
  </mat-card-content>    
</mat-card>   